body {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
    color: #32021f;
    }
    
.activities {
    background-color: white;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 1px;
    padding-right: 20px;
    max-width: 500px;
    border-radius: 10px;
    border: 1px;
    border-color: lightgray;
    border-style: solid;
    box-shadow:5px 5px 40px 10px rgb(189, 188, 188);
}