body {
    background: url("../img/reminders.jpeg");
}

.container {
    position: absolute;
    height: 25pc;
    width: 20pc;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    box-shadow: 0 0 55px black;
    backdrop-filter: blur(5px);
}

.addTxt {
    position: absolute;
    height: 5px;
    width: 60%;
    margin: auto;
    top: 25px;
    right: 0;
    left: 0;
    outline: none;
    border: none;
    padding: 20px;
    padding-right: 50px;
}

.addBtn {
    position: absolute;
    height: 40px;
    width: 40px;
    margin: auto;
    top: 15px;
    right: 35px;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: 0;
}

.addBtn img {
    position: absolute;
    height: 40px;
    margin: auto;
    top: 20px;
    right: 0;
    left: 0;
    bottom: 0;
}

.list {
    position: absolute;
    height: 75%;
    width: 100%;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}
.list::-webkit-scrollbar {
    -webkit-appearance: none;
    appearance: none;
}

.element {
    position: relative;
    height: fit-content;
    width: 55%;
    right: 0;
    margin: 15px;
    text-align: left;
    transition: 0.2s;
    padding: 10px;
    background: #ffffff;
    cursor: pointer;
    border-radius: 2px;
    padding-right: 80px;
    word-wrap: break-word;
}
.element:hover {
    transform: scale(1.1);
}
.tick {
    position: absolute;
    margin: auto;
    height: 20px;
    top: 0;
    bottom: 0;
    right: 50px;
}
.wastebasket {
    position: absolute;
    margin: auto;
    height: 30px;
    top: 0;
    bottom: 0;
    right: 10px;
    filter: grayscale(1);
}